#link1 {
  color: white;
  background-image: linear-gradient(
    90.21deg,
    var(--primary-color) -5.91%,
    var(--secondary-color) 111.58%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
#link1:hover {
  color: #0e7d81;
}
#ContactBtn{
  background-color: white;
}
#ContactBtn:hover{
  background-image: linear-gradient(90.21deg, #4b389c -5.91%, #46349a 111.58%);
  color: white;
  
}

#footer1 {
  background: linear-gradient(90.21deg, #4b389c -5.91%, #0e7d81 111.58%);
}

#customGradient {
  background-color: #ffffff;
}

#custom-svg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#custom-svg {
  width: 32px;
  height: 32px;
  color: white;
}
