@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

#container1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../../Assets/Images/header-page-2.jpg); */
  background-color: rgba(74, 138, 233, 0.568);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container1:before {

  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  /* background: linear-gradient(90.21deg, #4b389c -5.91%, #0e7d81 111.58%); */
  background-image: url("../../../../public/singnupin-back.jpg");
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}
#forms-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}
#loginform{
  margin-top: 20px;
}
#signupform{
  margin-top: -30px;
}
#loginform,
#signupform {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}
.sign-in-form {
  z-index: 2;
}
.sign-up-form {
  z-index: 1;
  opacity: 0;
}
#signuptitle {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  font-family: "Poppins", sans-serif;
  padding: 0 1.1rem;
}
#input-field #i {
  align-self: center;
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

#input-field input {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

#input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btnsign {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(90.21deg, #4b389c -5.91%, #0e7d81 111.58%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s ease;
}

.btnsign:hover {
  background-image: linear-gradient(90.21deg, #5740c0 -5.91%, #128c91 111.58%);
  color: white;
}

#social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

#social-media {
  display: flex;
  justify-content: center;
}

#social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(90.21deg, #4b389c -5.91%, #0e7d81 111.58%);
  font-size: 1.1rem;
  border-radius: 50%;
  transform: 0.3s;
  color: #ffff;
}
#social-icon:hover {
  background: #ffff;
  color: #4b389c;
  border-color: #4b389c;
}

#panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

#image {
  width: 90%;
  height: 70%;
  transition: 1.1s 0.4s ease-in-out;
}
#image1 {
  width: 70%;
  height: 100%;
  padding-bottom: 120px;
  padding-right: 35px;
  margin-right: 80px;
  transition: 1.1s 0.4s ease-in-out;
}

.panel #content {
  margin-top: 50px;
  color: white;
  transition: 0.9s 0.6s ease-in-out;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.btnsign.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.right-panel #content,
.right-panel #image {
  transform: translateX(800px);
}

#container1.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}
#container1.sign-up-mode .left-panel #image1,
#container1.sign-up-mode .left-panel #content {
  transform: translateX(-800px);
}

#container1.sign-up-mode .right-panel #image,
#container1.sign-up-mode .right-panel #content {
  transform: translateX(0px);
}

#container1.sign-up-mode .left-panel {
  pointer-events: none;
}
#container1.sign-up-mode .right-panel {
  pointer-events: all;
}

#container1.sign-up-mode #signin-signup {
  left: 25%;
}

#container1.sign-up-mode #loginform {
  z-index: 1;
  opacity: 0;
}

#container1.sign-up-mode #signupform {
  margin-top: 50px;
  z-index: 2;
  opacity: 1;
}

#input-field.file-input {
  position: relative;
  overflow: hidden;
}

#input-field.file-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-label {
  display: block;
  background: #f0f0f0;
  padding: 0 1.1rem;
  height: 55px;
  line-height: 55px;
  text-align: left;
  border-radius: 55px;
  color: #acacac;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

#input-field #i {
  align-self: center;
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

.file-input:hover .file-label {
  background-color: lighten(#f0f0f0, 5%);
}

@media (max-width: 870px) {
  #container1 {
    min-height: 800px;
    height: 100vh;
  }
  #container1:before {
    width: 1500px;
    height: 1000px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  #signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  #panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }
  .panel #content {

    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }
  .right-panel #content{
    margin-top:   380px;
    margin-right: 80px;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btnsign.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  #image, #image1 {
    
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }
  .left-panel {
    grid-row: 1 / 2;
  }
  .right-panel {
    grid-row: 3 / 4;
  }
  .right-panel #content,
  .right-panel #image {
    transform: translateY(300px);
  }
  
  #container1.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    margin-bottom: -100px;
    right: initial;
  }
  #container1.sign-up-mode .left-panel #image1,
  #container1.sign-up-mode .left-panel #content {
    transform: translateY(-300px);
  }

  #container1.sign-up-mode #signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
  }
  #image, #image1{
    display: none;
  }
}

@media (max-width: 570px) {
  #loginform,
  #signupform{
    padding: 0 1.5rem;
  }

  #image, #image1{
    display: none;
  }
  .panel #content{
    padding: 0.5rem 1rem;
  }
  #container1:before{
    bottom: 72%;
    left: 50%;
  }
  #container1.sign-up-mode:before{
    bottom: 28%;
    left: 50%;
    
  }
  .right-panel #content p{
    font-size: smaller;
  }
  .right-panel #content{
    display: flex;
  
  }
  .right-panel #content #sign-in-btn{
    padding-left: 20px;
    padding-right: 20px;

  }
}
nav{

  z-index: 999999;
}