
.footer-links:hover{
    color: #0e7d81;
}
.footer .footer-button{
    color: #4A2FBD;
    border-color: #4A2FBD;
}
.footer .footer-button:hover{
    background-image: linear-gradient(90.21deg, #4A2FBD -5.91%, #0e7d81 111.58%);
    color: white;
    border: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #4A2FBD;
  --secondary-color:#0e7d81 ;
}

#customGradient {
  fill: linear-gradient(90.21deg, var(--primary-color) -5.91%, var(--secondary-color) 111.58%);
}
.footer-links {
    color: transparent;
    background-image: linear-gradient(90.21deg, var(--primary-color) -5.91%, var(--secondary-color) 111.58%);
    background-clip: text;
    -webkit-background-clip: text;
  }
.custom-svg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.custom-svg{
    width:32px;
    height: 32px;
}

