.icon-img{
    width: 100px;
    height:60px;
}

#navb1 #navlinks{
  font-size: 14px;
    color: #ece8e8;
}

  
  #navb1 .navbar-nav #navlinks:hover {
    color: #4A2FBD;
  }
  
  nav .navbar-toggler:focus {
    box-shadow: none;
  }
 
